PORT=4000
JWT_SECRET=replace-with-a-long-random-secret
UPI_ID=7038172478@pthdfc
ADMIN_EMAIL=shwetadarekar04@gmail.com
ADMIN_PASSWORD=Shweta@96
WHATSAPP_NUMBER=919699668421
VITE_WHATSAPP_NUMBER=919699668421
VITE_UPI_ID=7038172478@pthdfc
MONGO_URI=mongodb://<db_username>:<db_password>@ac-8evlyx5-shard-00-00.ha7uwx6.mongodb.net:27017,ac-8evlyx5-shard-00-01.ha7uwx6.mongodb.net:27017,ac-8evlyx5-shard-00-02.ha7uwx6.mongodb.net:27017/nakhrewali?ssl=true&replicaSet=atlas-xrh8s9-shard-0&authSource=admin&appName=Cluster0
