.categoryProductGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

@media (max-width: 1100px) and (min-width: 769px) {
  .categoryProductGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .categoryProductGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 12px;
  }
}

@media (max-width: 420px) {
  .categoryProductGrid {
    gap: 12px 10px;
  }
}

@media (max-width: 350px) {
  .categoryProductGrid {
    gap: 10px 8px;
  }
}
